body {
    box-sizing: border-box;
    background-image:url(https://www.walldevil.com/wallpapers/a48/wildlife-wallpaper-mountain-nature-wallpapers.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family:'helvetica neue';
    font-size: 20px;
    font-weight: 200;
  }


  .suggestions {
    margin: 0;
    padding: 0;
    position: relative;
   
  }
  .suggestions li {
    
    list-style: none;
    margin:0;
    padding-top:2px;
    padding-bottom: 2px;
    padding-left:5px;
    transition:background 0.2s;
    display:flex;
    justify-content:space-between;
    text-transform: capitalize;
    height:100%;
  }
  .suggestions ul{
    border-bottom: 1px solid rgb(82, 81, 81);
    box-shadow: 0 0 9px rgb(82, 81, 81);
    padding-left:5px;
    width: 30%;
    background:rgba(233, 227, 227,0.6);
    margin:0 auto;
    
  }

